In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

. load the data 
. look at the data 
. if required , trasform the data 
. if required, reduce the data 
. if required, create new features(new column) 
. visualize the data
. comute statistics

In [9]:
df = pd.read_excel('Sample_Data.xlsx')
df

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        Ram     Gupta         32000  0.4    0.8  0.1       sale   600
1   2      vijay    sharma         32000  0.4    0.8  0.1   purchase   299
2   3       Ajay    panday         32000  0.4    0.8  0.1        rnd   588
3   4      vijay     yadev         32000  0.4    0.8  0.1      sales  1020
4   5      suraj     verma         32000  0.4    0.8  0.1   purchase   399
5   6      arjun     singh         32000  0.4    0.8  0.1        rnd     0
6   7      karan    kapoor         32000  0.4    0.8  0.1   purchase     0
7   8       ravi     singh         32000  0.4    1.0  0.5      sales   299
8   9     lovely     verma         32000  0.4    0.6  0.1        rnd   299
9  10       Arun     gupta         32000  0.4    0.8  0.1   purchase   299

In [10]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [11]:

df[['first name', 'last name']] #list of columns--dataframe

  first name last name
0        Ram     Gupta
1      vijay    sharma
2       Ajay    panday
3      vijay     yadev
4      suraj     verma
5      arjun     singh
6      karan    kapoor
7       ravi     singh
8     lovely     verma
9       Arun     gupta

In [12]:
df.iloc[0] #iloc location - row wise access

id                  1
first name        Ram
last name       Gupta
basic salary    32000
d.a               0.4
h.r.a             0.8
t.a               0.1
department       sale
fine              600
Name: 0, dtype: object

In [13]:
df.iloc[3].tolist() #convert to list

[4, 'vijay', 'yadev', 32000, 0.4, 0.8, 0.1, 'sales', 1020]

In [14]:
df.iloc[:4] # first of 4

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        Ram     Gupta         32000  0.4    0.8  0.1       sale   600
1   2      vijay    sharma         32000  0.4    0.8  0.1   purchase   299
2   3       Ajay    panday         32000  0.4    0.8  0.1        rnd   588
3   4      vijay     yadev         32000  0.4    0.8  0.1      sales  1020

In [15]:
df.iloc[-5: , :3] #last 5 rows and first 3 columns

   id first name last name
5   6      arjun     singh
6   7      karan    kapoor
7   8       ravi     singh
8   9     lovely     verma
9  10       Arun     gupta

In [16]:
df.head() #first of 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        Ram     Gupta         32000  0.4    0.8  0.1       sale   600
1   2      vijay    sharma         32000  0.4    0.8  0.1   purchase   299
2   3       Ajay    panday         32000  0.4    0.8  0.1        rnd   588
3   4      vijay     yadev         32000  0.4    0.8  0.1      sales  1020
4   5      suraj     verma         32000  0.4    0.8  0.1   purchase   399

In [17]:
df.head() #first of 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        Ram     Gupta         32000  0.4    0.8  0.1       sale   600
1   2      vijay    sharma         32000  0.4    0.8  0.1   purchase   299
2   3       Ajay    panday         32000  0.4    0.8  0.1        rnd   588
3   4      vijay     yadev         32000  0.4    0.8  0.1      sales  1020
4   5      suraj     verma         32000  0.4    0.8  0.1   purchase   399

In [18]:
#missing data
df.isnull().sum() #

id              0
first name      0
last name       0
basic salary    0
d.a             0
h.r.a           0
t.a             0
department      0
fine            0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   first name    10 non-null     object
 2   last name     10 non-null     object
 3   basic salary  10 non-null     int64
 4   d.a           10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [20]:
df.describe() #summary statistics for numerical columns

             id  basic salary   d.a      h.r.a        t.a         fine
count  10.00000          10.0  10.0  10.000000  10.000000    10.000000
mean    5.50000       32000.0   0.4   0.800000   0.140000   380.300000
std     3.02765           0.0   0.0   0.094281   0.126491   301.232302
min     1.00000       32000.0   0.4   0.600000   0.100000     0.000000
25%     3.25000       32000.0   0.4   0.800000   0.100000   299.000000
50%     5.50000       32000.0   0.4   0.800000   0.100000   299.000000
75%     7.75000       32000.0   0.4   0.800000   0.100000   540.750000
max    10.00000       32000.0   0.4   1.000000   0.500000  1020.000000

In [21]:
df.head(3)

   id first name last name  basic salary  d.a  h.r.a  t.a department  fine
0   1        Ram     Gupta         32000  0.4    0.8  0.1       sale   600
1   2      vijay    sharma         32000  0.4    0.8  0.1   purchase   299
2   3       Ajay    panday         32000  0.4    0.8  0.1        rnd   588

In [22]:
df['d.a'] * df['basic salary']\
    +df['h.r.a'] * df['basic salary']\
    +df['t.a'] * df['basic salary']\
    +df['basic salary']

0    73600.0
1    73600.0
2    73600.0
3    73600.0
4    73600.0
5    73600.0
6    73600.0
7    92800.0
8    67200.0
9    73600.0
dtype: float64

In [23]:
df['total salary']=df['d.a'] * df['basic salary']\
    +df['h.r.a'] * df['basic salary']\
    +df['t.a'] * df['basic salary']\
    +df['basic salary'] - df['fine']
df.head(3)

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,Ram,Gupta,32000,0.4,0.8,0.1,sale,600,73000.0
1,2,vijay,sharma,32000,0.4,0.8,0.1,purchase,299,73301.0
2,3,Ajay,panday,32000,0.4,0.8,0.1,rnd,588,73012.0

In [24]:
px.area(df, x='first name', y='total salary')