In [14]:
#dictionary
'''order data structure
-mutable
- key value pair
- key are immutable, and unique
-value can be muteable or immutable and can be duplicate and have any type unindexwd
-represented by{}
-unindexed dict{ }that can take key value pair as argument
-
'''

'order data structure\n-mutable\n- key value pair\n- key are immutable, and unique\n-value can be muteable or immutable and can be duplicate and have any type unindexwd\n-represented by{}\n-unindexed dict{ }that can take key value pair as argument\n-\n'

In [15]:
from pprint import pp

In [16]:
#creating

fruits ={
    "apple": 2,
    "banana": 3,
    "orange": 4,
}

In [17]:
grocery ={
'fruits': ['apple','banana', 'pineapple'],
'vegetable':['carrort', 'lettuce','oinon'],
'dairy':['milk','cheese','yogur']

}

In [25]:
reports={
    "suresh":{
        'english':90,
        'math':80
    },
    "rajesh":{
        'english':90,
        'math':80
    },
}

In [18]:
pp(fruits)
pp(grocery)

{'apple': 2, 'banana': 3, 'orange': 4}
{'fruits': ['apple', 'banana', 'pineapple'],
 'vegetable': ['carrort', 'lettuce', 'oinon'],
 'dairy': ['milk', 'cheese', 'yogur']}

In [19]:
'''updateing
adding
deleeting
 fetch
'''

'updateing\nadding\ndeleeting\nfetch\n'

In [20]:

fruits['apple'] # retrive vale from dictionary

2

In [21]:
#updateing
fruits['apple']=10

In [22]:
fruits['mango']=25
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 4, 'mango': 25}

In [23]:
grocery['spices']=['cumin','coriander','turmeric'] # add new key value pair in dictionory

In [24]:
grocery['fruits'].append('mango')#add new value in list
pp(grocery)

{'fruits': ['apple', 'banana', 'pineapple', 'mango'],
 'vegetable': ['carrort', 'lettuce', 'oinon'],
 'dairy': ['milk', 'cheese', 'yogur'],
 'spices': ['cumin', 'coriander', 'turmeric']}

In [26]:
reports['suresh']['evs']=99

In [27]:
print(reports)

{'suresh': {'english': 90, 'math': 80, 'evs': 99}, 'rajesh': {'english': 90, 'math': 80}}

In [28]:
fruits.pop('banana')# removde key - value pair from dict

3

In [29]:
reports.pop('rajesh')

{'english': 90, 'math': 80}

In [30]:
reports

{'suresh': {'english': 90, 'math': 80, 'evs': 99}}

In [31]:
pp(grocery)

{'fruits': ['apple', 'banana', 'pineapple', 'mango'],
 'vegetable': ['carrort', 'lettuce', 'oinon'],
 'dairy': ['milk', 'cheese', 'yogur'],
 'spices': ['cumin', 'coriander', 'turmeric']}

In [35]:
grocery['vegetable'].remove('carrort')# remove

In [36]:
fruits.keys()# get all values from dict

dict_keys(['apple', 'orange', 'mango'])

In [37]:
fruits.values()# get all

dict_values([10, 4, 25])

In [40]:
fruits.items()

dict_items([('apple', 10), ('orange', 4), ('mango', 25)])

In [41]:
for k,v in  fruits.items():
    print(k,v)

apple 10
orange 4
mango 25

In [42]:
reports['suresh']['english']

90

In [43]:
reports.get('suresh')

{'english': 90, 'math': 80, 'evs': 99}

In [44]:
reports.get('ramesh')

In [ ]:
reports.get('ramesh','ye student  kabhi aya hi hi nhi')

In [46]:
reports.get('suresh','ye student  kabhi aya hi hi nhi')

{'english': 90, 'math': 80, 'evs': 99}

In [15]:
reports['Suresh']={
    'english':90,
    'math':99,
    'science':88
}
pp(reports)

NameError: name 'reports' is not defined

In [16]:
for student, details in reports.items():
    print(student)
    for subject, marks in details.items():
        print(f'{marks} in {subject}')
    print('...'*8)

NameError: name 'reports' is not defined

In [ ]:

'''create a dictionary of 5 employee with details
- name : str
- department : str
- salary : int
- skills : list
- projects :dict
    - project_name : str
    - project_duration : int
    - project_technologies : list  '''

In [55]:
emps = {
    'e1 ':{
        'name' : 'Nishtha',
        'department' : 'hr',
        'salary' : 100000,
        "skill":['communication','management'],
        'project':{
            'projcet' :{
                'projcet_name': 'HRMS',
                'projcet_duration':6,
                'projcet_technology':['excel','power bi','powerpoint']
            },
        },
        "e2 ": {
          'name' : 'deep',
          'department' : 'hr',
          'salary' : 100000,
           "skill":['communication','management'],
           'project':{
           'projcet' :{
                'projcet_name': 'HRMS',
                'projcet_duration':6,
                'projcet_technology':['excel','power bi','powerpoint']
        
        },

    },
    
        }
    },
        'e3': {
             'name' : 'deep',
          'department' : 'hr',
          'salary' : 140000,
           "skill":['communication','management'],
           'project':{
           'projcet' :{
                'projcet_name': 'HRMS',
                'projcet_duration':6,
                'projcet_technology':['excel','power bi','powerpoint']
        

    },

},
        },
        'e4' :{
             'name' : 'dolly',
          'department' : 'hr',
          'salary' : 120000,
           "skill":['communication','management'],
           'project':{
           'projcet' :{
                'projcet_name': 'HRMS',
                'projcet_duration':6,
                'projcet_technology':['excel','power bi','powerpoint']
        

        },
           },
        },
}