In [1]:

x = [1,2,3,4,5,6,7,8,9,10]
y = [] #empty
z = ['appple','banana','cherry','orange','melon','mango']
a = ['alex', 5,'sam',7,'john',10,'james',15]
a3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [2]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year

   
Movies = [
        Movie("the matrix",1990),
        Movie("the matrix reloader",2003),
        Movie("the matrix revolutions",2003),
        Movie("the matrix resurrenctions",2021)
        ]

In [1]:
name ='Nishtha gupta'
list(name)

['N', 'i', 's', 'h', 't', 'h', 'a', ' ', 'g', 'u', 'p', 't', 'a']

In [7]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [8]:
print(a[0])
print(a[-1])
print(a[-2])
print(a[1])
#print(a[43])

alex
7
sam
5

In [18]:
#slicing
data = list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[:-10])#last 10 element
print(data[23:36])
print(data[50:30:-1])#reverse silce
print(data[1::2])#odd
print(data[::-1])#reverse list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
for item in a:
    print(item)

alex
5
sam
7

In [26]:
movie =[]
movie.append('shrek')

In [27]:
uinp = input('enter a movie')
movie. append(uinp)

In [28]:
movie.append('The Matrix')
movie.append('The Matrix Reloaded')
movie.append('The Matrix Revolution')
movie.append('The Matrix Resurrections')
movie.append('Fast and Furious')
movie.append('Fast and Furious2')
movie.append('Fast and Furious3')
movie.append('Fast and Furious 4' )
movie.append('Fast and Furious 5' )

In [29]:
movie

['shrek',
 '',
 'The Matrix',
 'The Matrix Reloaded',
 'The Matrix Revolution',
 'The Matrix Resurrections',
 'Fast and Furious',
 'Fast and Furious2',
 'Fast and Furious3',
 'Fast and Furious 4',
 'Fast and Furious 5']

In [30]:
value ='shrek'
if value in movie:
    movie.remove(value)
else:
    print('value not found')

In [31]:
movie.clear()

In [20]:
movie = []
movie.append('Shrek')

In [21]:
uinp = input('enter a movie:')
movie.append(uinp)

In [22]:
movie.insert(3,'king fu panda 2')#insert
movie

['Shrek', 'inception', 'king fu panda 2']

In [3]:
#user created list
animelist=[]
for i in range(5):
    name =input('enter an anime:')
    animelist.append(name)
    print(animelist)

['']

In [1]:
x=[1,2,3,4]
y=[5,6,7,8]

x+y # creates a new list

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
x.extend(y)#modifies x
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
x =[12,1,3,10,3,5,3,6,4,6,4,6,4,6,4,7,4,74,7,4,6,7,4,6]
print(x.count(1))
print(x.count(12))
print(x.count(3))
print(x.count(10))

1
1
3
1

In [6]:

book =[
    'the final empire',
    'hreo of age',
    'well of ascension',
    'the way of kings',
    'words of radiance',
    'oathbringer',
    'rhythm of war',
    'warbreaker',
    'elantris',
    'white sand'
    
]

In [7]:
book .index('oathbringer')

5

In [8]:
book.reverse()
print(book)

['white sand', 'elantris', 'warbreaker', 'rhythm of war', 'oathbringer', 'words of radiance', 'the way of kings', 'well of ascension', 'hreo of age', 'the final empire']

In [24]:
book.sort(reverse=True)#sorts data in ascending order if all element are of same type
print(book)

['words of radiance', 'white sand', 'well of ascension', 'warbreaker', 'the way of kings', 'the final empire', 'the alloy of law', 'rhythm of war', 'oathbringer', 'hreo of age', 'elantris']

In [25]:
book

['words of radiance',
 'white sand',
 'well of ascension',
 'warbreaker',
 'the way of kings',
 'the final empire',
 'the alloy of law',
 'rhythm of war',
 'oathbringer',
 'hreo of age',
 'elantris']

In [12]:
book_backup= book.copy()#a copy of  variable is created at a different memory location

In [13]:
book2 = book #both varaible print tothe the same memory location

In [14]:
book2.append('the alloy of law')
print(book)
print(book2)
print(book_backup)

['elantris', 'hreo of age', 'oathbringer', 'rhythm of war', 'the final empire', 'the way of kings', 'warbreaker', 'well of ascension', 'white sand', 'words of radiance', 'the alloy of law']
['elantris', 'hreo of age', 'oathbringer', 'rhythm of war', 'the final empire', 'the way of kings', 'warbreaker', 'well of ascension', 'white sand', 'words of radiance', 'the alloy of law']
['elantris', 'hreo of age', 'oathbringer', 'rhythm of war', 'the final empire', 'the way of kings', 'warbreaker', 'well of ascension', 'white sand', 'words of radiance']

In [15]:
book2 is book

True

In [16]:
book_backup is book

False