In [4]:
print ("Hello World")

Hello World

In [5]:
msg = ("Hello Python")
print (msg)

Hello Python

In [6]:
#arithmetic operator

a=4
b=5
total=a+b
print(total)

9

In [7]:
print(4-6)

-2

In [8]:
a=5
y=8
value=a*y
print(value)

40

In [11]:
a=21
z=7
value =a/z
print(value)
type(value)

3.0

float

In [12]:
a=5
b=10
value =a % b
print(value)

5

In [13]:
a=6
b=3
value =a**b
print(value)

216

In [14]:
a=7
b=6
value=a//b
print(value)

1

In [15]:
a=-4
b=5
value=a//b
print(value)

-1

In [8]:
# list
data = [10,-20,-50,2.13,'geekyshow']
print(data)
print(data[3])
type(data)

[10, -20, -50, 2.13, 'geekyshow']
2.13

list

In [4]:
# create variable
var1 = "nishtha"
var2 = 14
var3 =3.14
print(type("var1"))
print(type(var2))
print(type("var3"))

<class 'str'>
<class 'int'>
<class 'str'>

In [6]:
# concatenation operator
str1 ='Nishtha'
str2 = 'gupta'
print(str1 + str2 )

Nishthagupta

In [7]:
str ='nishthagupta'

In [9]:
str ="nishthagupta"
print("hello" +str)
print("hello" ,str)

hellonishthagupta
hello nishthagupta

In [11]:
# create list
data = [20]

print(type(data))

<class 'list'>

In [18]:
# create tuple
data =( 120,-50,'nishtha')
print(type(data))

<class 'tuple'>

In [28]:
# create range
rg = range(5)
rg =[0]
rg = [1]
rg = [2]
rg = [3]
rg = [4]
rg1 = range(10,20,2)
rg1 =[0]
rg1 =[2]

In [36]:
rgb = range(10, 20, 2)
rgb [4]

18

In [37]:
# set
data ={10,20,30, "greek","raj",4}

In [ ]:
data ={10,20,30, "greek","raj",40,10,20}

In [1]:
# comparion operator
print(5<2)

False

In [2]:
print(5>2)

True

In [3]:
print(5<=2)

False

In [4]:
print(5>=3)

True

In [5]:
print(5==2)

False

In [6]:
print(5!=2)

True

In [1]:
# membership opeartor
# in

st1 ='welcome to show'
'to' in st1

True

In [5]:
str1 ='welcome top show'
print ('top ' in str1)

True

In [8]:
str = 'welcome subto  show'
print('to' in str)

True

In [11]:
#identity operator
#int
a= 10
b=10


print( a is b)

True

In [13]:
# string
a="10"
b =10
print(a is b)

False

In [15]:
# is not operator

a = 10
b =10
print(a is not b)

False

In [16]:
# string
a = 10
b = "10"
print(a is not b)

True

In [21]:
a =5
b =2
value =a/b
print (value)

2.5

In [25]:
a = "3"
b = "4"
print (a+b)

7

In [30]:
#typecasting
# explicit typecasting

a= '10'
b ='12'

print (int(a)+ int(b))

22

In [31]:
# Example of explicit typecasting

string = "15"
number = 15

string_number = int(string) #throw an  error if the string is not  a valid integer

sum = number + string_number
print('the sum of both the number is :',sum)

the sum of both the number is : 30

In [34]:
#example of implicit typecasting

#python automatically converts
# a to int

a =7

print(type(a))

#python automatically converts b to float
b= 3.14
print (type(b))



#python automatically converts  c  to  float as it is a float addtion

c = a+b
print(c)

<class 'int'>
<class 'float'>
10.14

In [38]:
a=input()
print("how are u " ,a)

how are u  my name is nishtha