In [4]:
print ("Hello World")

Hello World

In [5]:
msg = ("Hello Python")
print (msg)

Hello Python

In [6]:
#arithmetic operator

a=4
b=5
total=a+b
print(total)

9

In [7]:
print(4-6)

-2

In [8]:
a=5
y=8
value=a*y
print(value)

40

In [11]:
a=21
z=7
value =a/z
print(value)
type(value)

3.0

float

In [12]:
a=5
b=10
value =a % b
print(value)

5

In [13]:
a=6
b=3
value =a**b
print(value)

216

In [14]:
a=7
b=6
value=a//b
print(value)

1

In [15]:
a=-4
b=5
value=a//b
print(value)

-1

In [8]:
# list
data = [10,-20,-50,2.13,'geekyshow']
print(data)
print(data[3])
type(data)

[10, -20, -50, 2.13, 'geekyshow']
2.13

list