In [29]:
#strings
a = 'This is a string'#single quote
b = " This is another string"#double quote
c = ''' this is ,multiple string
also string 
more'''
d = b' this is a byte string'
e = u' this is a \nunicode string'
f = r' This is a \nraw string'
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

This is a string
 This is another string
 this is ,multiple string
also string
more
b' this is a byte srring'
 this is a
unicode string
 This is a \nraw string

In [5]:
#Accessing string characters in python
str='digipodium'
print('str=', str)

#frist character
print('str[0]=',str[0])

#Second character
print('str[0]=',str[1])

#last character
print('str[0]=',str[-1])

#second character
print('str[0]=',str[-2])

str= digipodium
str[0]= d
str[0]= i
str[0]= m
str[0]= u

In [6]:
#getting a slice
s='digipodium'
slice1 = s[4:7]
print(slice1)

pod

In [7]:
x =10

print(x)

10

In [8]:
name ='vijay deenanath chauhan'
print (name)

vijay deenanath chauhan

In [9]:
name [:5]#first 5 character

'vijay'

In [10]:
len(name)#length of string

23

In [11]:
name[-7: len (name)] #last 7 character

'chauhan'

In [12]:
fname = name[:5]
lname = name[-7:]

In [13]:
name[::2]#every second character

'vjydeaahcahn'

In [14]:
name[::-1]# reverse the string

'nahuahc htananeed yajiv'

In [15]:
x= input('Enter a number:')
if x.isnumeric():
    x= int(x)
    print(x)
else:
    print('Invalid input')

In [ ]:
uname =input('enter your name:')
if uname.isalnum():
    print('hello',uname)
else:
    print('Invalid input')

hello vijay

In [ ]:
uname = input('enter your name:')
if not uname.isalnum():
    print('must be some special charecter')
else:
    print('not so special')

not so special

In [ ]:
name =['Mr. Anand, Mr.vijay,''Mr.Ravi','Er.Rajesh','Mr.Ramesh']
for name in name:
    if name. startswith('Mr.') or name.startswith('Mr.'):
        print(f' welcome {name}')
    else:
        print(f'you are not allow {name}')

 welcome Mr. Anand, Mr.vijay,Mr.Ravi
you are not allow Er.Rajesh
 welcome Mr.Ramesh

In [1]:
files =['abc.txt',' xyz.doc','pqr.py','mno.py','def.txt']
for item in files :
 if item.endswith('.txt'):
  print(f'{item:10}(text file)')
 elif item.endswith('.py'):
  print(f'{item :10}(python file)')
else:
 print(f'{item:10} unknown fie type')

abc.txt   (text file)
pqr.py    (python file)
mno.py    (python file)
def.txt   (text file)
def.txt    unknown fie type

In [2]:
name = 'Joourney before Destination'
print(name .upper())
print(name .lower())
print(name .title())
print(name .capitalize())
print(name .swapcase())
print(name .casefold())

JOOURNEY BEFORE DESTINATION
joourney before destination
Joourney Before Destination
Joourney before destination
jOOURNEY BEFORE dESTINATION
joourney before destination

In [3]:
name = name.lower()
print(name)

joourney before destination

In [5]:
s ='this is an example string,  thIs is a simple string'
print(s.count('is'))
print(s.count('t'))

3
4

In [6]:
# total vowels
tv = s.count('a') + s.count('e')+ s.count('i')+ s.count('o')+ s.count('u')
print(tv)

12

In [9]:
print(s. find('example'))
print(s. find('is'))
print(s. find('is',3)) # start searching from index
print(s. find('is',6))

11
2
5
31

In [18]:
s. replace(' is ',' was ')# replace all occurences

'this was an example string,thIs was a simple string'

In [19]:
s.replace('string','') # remove string from s

'this is an example ,thIs is a simple '

In [20]:
s.replace(' is ',' was ') #replace only the word 'is'

'this was an example string,thIs was a simple string'

In [22]:
words = s.split()
print(words)

['this', 'is', 'an', 'example', 'string,thIs', 'is', 'a', 'simple', 'string']

In [23]:
s.split(',')

['this is an example string', 'thIs is a simple string']

In [24]:
words = ['one','two','three','four','five']

" " .join(words)

'one two three four five'

In [25]:
words = ['one','two','three','four','five']

"---> " .join(words)

'one---> two---> three---> four---> five'

In [30]:
x ='  Nishtha  '
print(x)
print(x.strip())

  Nishtha
Nishtha