In [1]:
x=12,13,50
print(x)
print(type(x))

(12, 13, 50)
<class 'tuple'>

In [2]:
#single element tuple
b=(13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [3]:
#tuple unpacking
x1,x2,x3 =x#a has 3 elements
print(x1,x2,x3)

12 13 50

In [7]:

#tuple unpacking
a=(1,3,5,6,7,12,14 ,16,17)
a1, a2, *a3,= a #a3 will get the remaining element as a list
print(a1,a3)

1 [5, 6, 7, 12, 14, 16, 17]

In [8]:
#tuple slicing
a[-5]

7

In [9]:
for i in a:
    print(i)

1
3
5
6
7
12
14
16
17

In [28]:
x = (1,2,3,1,2,8,4,7,8)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3)) #3 is the value to search
print(x.index(3,2))# 3 is the value to search and 5 is the starting index

2
2
0
2
2

In [29]:
a=[1,2,3]
at = tuple(a)#list to tuple
al = list(at)# tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [15]:
#Set

s1 = set() #empty set
print(s1)
print(type(s1))
s1.add(3)# using add ()
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

s1. discard(3)  # remove 3 from set s1(remove() can also be used)
print(s1)

set()
<class 'set'>
{'all', 3, 4, 'hello'}
{'all', 4, 'hello'}

In [17]:
for i in s1:
    print(i)

all
4
hello

In [19]:
name= list ('nishtha')
print(name)

['n', 'i', 's', 'h', 't', 'h', 'a']

In [22]:
# set opreations
group1 ={'appple','banana','papaya','watermelon','kiwi'}
group2 ={'appple','banana', 'lichi,''papaya','watermelon','kiwi',}

In [29]:
#union
print(group1 | group2)#all element from both the sets
print(group1.union(group2))

{'kiwi', 'lichi,papaya', 'papaya', 'watermelon', 'appple', 'banana'}
{'kiwi', 'lichi,papaya', 'papaya', 'watermelon', 'appple', 'banana'}

In [28]:
#intersection

print(group1 & group2)
print(group1. intersection(group2)) # common element from both the set

{'kiwi', 'watermelon', 'appple', 'banana'}
{'kiwi', 'watermelon', 'appple', 'banana'}

In [34]:
#difference

print(group1 - group2)# elements in group1 but not in group2
print(group1.difference(group2))
print(group2 - group1) # elements in group2 but not in group1
print(group2. difference(group1))

{'papaya'}
{'papaya'}
{'lichi,papaya'}
{'lichi,papaya'}

In [36]:
# symmetric diffrence 
print(group1 ^ group2)# element in g1 and g2 but not in both
print(group1.symmetric_difference(group2))

{'lichi,papaya', 'papaya'}
{'lichi,papaya', 'papaya'}

In [38]:
reports =[
['DIPALI',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['DOLLY',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['NISHTHA',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['RUPALI',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',90],
]],
['HARI',[
    ['MATHS',98],
    ['SCIENCE',99],
    ['ENGLISH',90],
]],
['AMIT',[
    ['MATHS',70],
     ['SCIENCE',71],
    ['ENGLISH',81],
]],
['AKASH',[
    ['MATHS',90],
    ['SCIENCE',91],
    ['ENGLISH',85],
]],
]
for student in reports:
       print(student)

['DIPALI', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['DOLLY', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['NISHTHA', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['RUPALI', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 90]]]
['HARI', [['MATHS', 98], ['SCIENCE', 99], ['ENGLISH', 90]]]
['AMIT', [['MATHS', 70], ['SCIENCE', 71], ['ENGLISH', 81]]]
['AKASH', [['MATHS', 90], ['SCIENCE', 91], ['ENGLISH', 85]]]